$blue: #30336b;
$black: #555555;
$white: #ffffff;
$border: #dddddd;
$dark_gray: #95a5a6;
$dirty_white: #f2f2f2;

body {
  font-family: 'Poppins', sans-serif;
}

.header {
  position: relative;
  background: $white;

  .menu {
    position: relative;
    background: $white;
    z-index: 1;

    .navbar {
      background-color: $white !important;

      .upper {
        a {
          color: $black !important;
          font-size: 16px;
          font-weight: 500;
          text-transform: uppercase;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
        }
      }

      .lower {
        margin-bottom: 0;

        i {
          color: $black;
          font-size: 20px;
          vertical-align: middle;
          cursor: pointer;
        }

        li {
          margin: 0 12px;
          display: inline-block;
        }
      }
    }
  }

  .dropdown-content {
    position: absolute;
    top: 0;
    width: 100%;
    background: $blue;
    visibility: hidden;
    z-index: 0;

    ul {
      margin: 0;
      padding: 15px 0;

      li {
        width: 13%;
        list-style: none;
        display: inline-block;
        text-align: center;

        a {
          color: $white;
          font-size: 14px;
          font-weight: 400;
          text-transform: uppercase;
        }
      }
    }

    &.active {
      top: 75px;
      visibility: visible;
      transition: all 250ms ease-in-out;
    }
  }
}

.content {
  padding: 20px 0;
  margin-top: 52px;
}

.footer {
  color: $white;
  font-size: 13px;
  padding: 15px 0;
  background: $blue;

  .container {
    position: relative;
    padding: 0 45px;
  }

  .social {
    position: absolute;
    top: 0;
    right: 35px;

    i {
      margin-left: 15px;
      font-size: 18px;
    }
  }
}

.background-image-full {
  position: relative;
  padding: 200px 0;
  background-size: cover;
  background-position: center;

  .text {
    position: relative;
    color: $white;
    z-index: 1;

    div {
      &:first-child {
        margin-bottom: 20px;
        font-size: 42px;
        font-weight: 500;
        line-height: 52px;
      }

      &:last-child {
        font-size: 18px;
        font-weight: 300;
      }
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 0;
  }
}

.hero {
  background-image: linear-gradient(rgba(102, 51, 0, 0.6), rgba(153, 102, 0.2), url(../images/hero.jpg));
}

.page-breed {
  .content {
    padding: 0;
  }

  .filters {
    position: relative;
    padding: 25px 0;
    z-index: 10;
    border-bottom: 1px solid $border;

    .display {
      margin-right: 15px;
      font-size: 16px;
      font-weight: 300;
      display: inline-block;
      vertical-align: middle;

      i {
        margin-right: 3px;
      }
    }

    .item {
      position: relative;
      margin-right: 7px;
      padding: 7px 15px;
      font-weight: 300;
      text-align: center;
      border: 2px solid $border;
      border-radius: 25px;
      background: $dirty_white;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      user-select: none;

      ul {
        position: absolute;
        top: 45px;
        left: 0;
        width: max-content;
        padding: 20px;
        background: $white;
        border: 1px solid $border;
        border-radius: 10px;
        box-shadow: rgb(0 0 0 / 10%) 0px 5px 15px;
        display: none;
        z-index: 1;

        li {
          list-style: none;
          text-align: left;

          label {
            cursor: pointer;
          }

          &:last-child {
            label {
              margin-bottom: 0;
            }
          }
        }
      }

      &:last-child {
        margin-right: 0;
      }

      &.active {
        border: 2px solid $blue;

        ul {
          display: block;
        }
      }
    }
  }

  .breed-class {
    margin: 20px 0;
    display: none;

    .item {
      position: relative;
      padding: 15px;
      color: $white;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 10px;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        z-index: 0;
      }

      .text {
        position: relative;
        z-index: 1;

        div {
          margin-bottom: 75px;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}

// hero banner
.hero-banner {
  margin-top: -20px;
  margin-bottom: -20px;
  position: relative;
  padding: 100px 0;
  background-size: cover;
  background-position: center;

  .text {
    position: relative;
    color: $white;
    z-index: 1;

    .header-title {
      font-family: serif;
      text-transform: capitalize;
      color: lightgoldenrodyellow;
    }

    div {
      &:first-child {
        margin-bottom: 20px;
        font-size: 42px;
        font-weight: 500;
        line-height: 52px;
      }

      &:last-child {
        font-size: 18px;
        font-weight: 300;
      }
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(37, 13, 13, 0.2);
    z-index: 0;
  }
}
